*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
background: #f2f6fb;
}

.container{
    max-width: 420px;
    margin: 30px auto;
    padding: 25px;
    
}

.header{
    text-align: center;
    margin-bottom: 20px;
}

.logo{
    font-size: 40px;
    background: #e6efff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 15px;
    margin: auto;
}

.header h1{
    margin-top: 10px;
    font-size: 22px;
}

.header p{
    color: #6b7280;
    margin-top: 5px;
}

.card{
    background: white;
    border-radius: 18px;
    padding: 20px;
    max-width: 420px;
    margin: 20px auto;
    box-shadow: 0 10px 25px rgba(red, green, blue, alpha);
}

h2{
    font-size: 18px;
    margin-bottom: 15px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.row.light{
    color: #6b7280;
}

.row.total{
    font-weight: bold;
    font-size: 18px;
}

hr{
    margin: 15px 0;
    border: none;
    height: 1px;
    background: #e5e7eb;
}

.mt{
    margin-top: 25px;
}

.payment-option{
    border: 2px solid #dbeafe;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.check{
    background: #3b82f6;
    color: white;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 14px;
}

.card-inputs input,
.upi input{
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    margin-bottom: 12px;
    font-size: 14px;
}
p{
    text-align: center;
    margin: 10px;
}
.small-inputs{
    display: flex;
    gap: 10px;
}

.small-inputs input{
    width: 50%;
}

.pay-btn{
    width: 100%;
    padding: 15px;
    background: linear-gradient(to right, #f87171, #ef4444);
    border: none;
    border-radius: 12px;
    columns: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.pay-btn:hover{
    opacity: 0.9;
    color: white;
}

.right{
    text-align: right;
}